<!DOCTYPE html>
<html lang="ro">
	<head>
		<title>Contact</title>
		<%- include("../fragmente/head") %>
		<link rel="stylesheet" type="text/css" href="/Resurse/CSS/contact.css" />
	</head>
	<body class="container">
		<div id="grad">
		<main>
			<%- include("../fragmente/header") %>
			<h1>Trimite un mesaj către site</h1>
			<p>Mesajele nu sunt moderate!
                Avem rugămintea de a folosi un limbaj adecvat și de a nu aduce injurii! Vă reamintim că nu avem limita de vârstă pe site, astfel că implicit copii pot vizualiza conținutul publicat de dvs! Mulțumim pentru înțelegere! </p>

            <form method="post" action="/contact">
                <label><br/>
                    <textarea cols="30" rows="5" name="mesaj" placeholder="Mesajul dumneavoastră..."></textarea>
                </label><br/>
                <input type="submit" value="Trimite mesajul!">
            </form>

			<section>
				<h2>Mesaje:</h2>
				<% if (locals.mesaje) {
					var mesajeSort=locals.mesaje.sort(function(a,b) {return (new Date(b.attributes.data)).getTime()-(new Date(a.attributes.data)).getTime()})
					for (let msg of mesajeSort) { 
						console.log(msg)
						let dt=new Date(msg.attributes.data);
						%>
						<article class="mesaj-c">
							<h3><span class="username"><%= msg.attributes.username%></span> spune:</h3>
							<p><%= msg.elements[0].text %></p>
							<p><small><time datetime="<%= dt.getUTCDate() %>"><%= dt.toLocaleString('ro-RO', {
														weekday: 'long', 
														day: 'numeric',
														year: 'numeric', 
														month: 'long', 
														hour: 'numeric',
														minute: 'numeric', 
														second: 'numeric',
													}) %></time></small>
							</p>
						</article>
					<% } %>
				<% } %>
			</section>
		</main>
		
		<%- include("../fragmente/footer") %>
		</div>
	</body>
</html>